{% extends 'base.html' %}
{% block content %}

<div class="center-box">

    <div class="card">

        <h1>🚀 AI Career Recommendation Portal</h1>

        <p>
            Your intelligent assistant to discover jobs, improve skills, and accelerate your career growth using AI.
        </p>

        <ul class="features">
            <li>✔ Personalized job recommendations</li>
            <li>✔ AI-based skill gap analysis</li>
            <li>✔ Resume improvement insights</li>
            <li>✔ Career growth roadmap</li>
        </ul>

        <a href="{% url 'register' %}" class="btn">
    Get Started
</a>
    </div>

</div>

{% endblock %}